<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">MORISYSTEM</span>
        <span class="site-description">お互い支え合うことの大切さ。</br>
              システム設計・システム開発を通して社会貢献します。</span>
      </h1>
      <div class="header-icons">
        <a aria-label="home" href="#"><i class="icon fa fa-home"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/moriplanning"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My facebook" target="_blank" href="http://www.morisystem.com"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/mori-system"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
