<div class="user-details">
  <h1> ソリューション紹介 & 採用情報 </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="system" src="{{ "/assets/img/system.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>ソリューション紹介</h3>
    <p>開発・構築業務に伴うエンジニアサポートします。 JAVA、JAVAScript、JSP、JQuery、STRUTSなどのフレームワークを
      ベースとしたwebアプリケーションの開発だけでなく、在庫管理システム、ソフトウェア開発技術者指導インフラ構築などを行います。</p>
    <a class="project-link" href="./solution.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="recruit" src="{{ "/assets/img/recruit.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 採用情報 </h3>
    <p>森のシステムの多く採用情報を見てたい場合、以下のボタンをクリックしてください。</p>
    <a class="project-link" href="./recruit_info.html">Check it out</a>
  </div>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="mori" src="{{ "/assets/img/mori.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3>本社ホームページへのリンク</h3>
      <ul>
        <li>モリプラニング </li>
      </ul>
      <p>森システムの親会社は、[森プランニング]です。森プランニングに関する情報は、以下のボタンを使用してサイトを介してご確認ください。</p>
      <a class="project-link" href="http://www.moriplanning.jp">本社ホームページへのリンク</a>
    </div>
  </div>
